    <section class="container-tournament">
        <div class="background-slide-tournament background-color-rank">
            <img class="background-picture-rank" src=" <%= picture %> " alt="">            
            <p>
                <%= content %>
            </p>
        </div>
    </section>