    <footer class="footer">
        <div>
            <a href="/"><img class="fifa-logo-footer" src="imeges/FIFA_Logo_White_Generic.webp" alt="FIFA logo"></a>
        </div>         
    </footer>
    <script src="./script.js"></script>
</body>
</html>