                <div class="menu-button" onClick="menuHeader()">
                    <div class="main-part upper-part"></div>
                    <div class="main-part main-part-style"></div>
                    <div class="main-part lower-part"></div>
                </div>