                <li><a class="style-title-header" href="/tournaments"> TOURNAMENTS </a></li>
                <li><a class="style-title-header" href="/world-rankings"> RANKINGS </a></li>
                <li><a class="style-title-header" href="/watch-on-fifa"> PLAY </a></li>
                <li><a class="style-title-header" href="/play"> WATCH ON FIFA+ </a></li>