<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header id="Header">
        <div id="wrapper">
            <div id="left-header">
                <div class="menu-bottun" onClick="menuHeader()">
                    <div class="main-part upper-part"></div>
                    <div class="main-part main-part-style"></div>
                    <div class="main-part lower-part"></div>
                </div>
                <div>
                    <img class="fifa-logo-header" src="imeges/FIFA_Logo_White_Generic.webp" alt="logo fifa">
                </div>             
            </div>
            <ul class="position-title-header">
                <li><a class="style-title-header" href="#"> TOURNAMENTS </a></li>
                <li><a class="style-title-header" href="#"> RANKINGS </a></li>
                <li><a class="style-title-header" href="#"> PLAY </a></li>
                <li><a class="style-title-header" href="#"> WATCH ON FIFA+ </a></li>
            </ul>   
        </div>
    </header>
    <span class="style-background"></span>
    <nav class="background-menu">
        <div class="top-menu">
                <div class="menu-bottun" onClick="menuHeader()">
                    <div class="main-part upper-part"></div>
                    <div class="main-part main-part-style"></div>
                    <div class="main-part lower-part"></div>
                </div>
            <div>
                <img class="fifa-logo-header" src="imeges/FIFA_Logo_White_Generic.webp" alt="logo fifa">
            </div>                  
        </div>
        <ul class="menu">
            <li><a class="style-title-header" href="#"> TOURNAMENTS </a></li>
            <li><a class="style-title-header" href="#"> RANKINGS </a></li>
            <li><a class="style-title-header" href="#"> PLAY </a></li>
            <li><a class="style-title-header" href="#"> WATCH ON FIFA+ </a></li>
            <hr id="hr">
            <li><a class="style-title-header" href="#"> added in future+ </a></li>
            <li><a class="style-title-header" href="#"> added in future+ </a></li>
            <li><a class="style-title-header" href="#"> added in future+ </a></li>
            <li><a class="style-title-header" href="#"> added in future+ </a></li>
            <li><a class="style-title-header" href="#"> added in future+ </a></li>
        </ul>
    </nav>
    <section class="background-imeg">
        <img class="main-pcture" src="imeges/FIFA-Club-World-Cup-Trophy-Tour-Seattle-Sounders-Day-2.webp" alt="">
    </section>

    <section class="background-slide">
        <div class="slides">
            <img class="imeges-slides" src="imeges/FIFA-WORLD-CUP-26-TICKETING-PROGRAMME-LAUNCHES-THIS-SEPTEMBER.webp" alt="">
            <p class="text-slides">
                FIFA World Cup 26™ Ticketing Programme launches this September
            </p>
        </div>
        <div class="slides">
            <img class="imeges-slides" src="imeges/Chelsea-FC-v-Paris-Saint-Germain-Final-FIFA-Club-World-Cup-2025.webp" alt="">
            <p class="text-slides">
                President Trump says FIFA is doing “fantastically well” in growing football in the United States
            </p>
        </div>
        <div class="slides">
            <img class="imeges-slides" src="imeges/SE-Palmeiras-v-Chelsea-FC-Quarter-Final-FIFA-Club-World-Cup-2025.webp" alt="">
            <p class="text-slides">
                Australia’s Alireza Faghani appointed FIFA Club World Cup 2025™ final referee
            </p>
        </div>
    </section>
    <script src="./script.js"></script>
</body>
</html>