<%- include('./partials/head+header.ejs') %>

    <section class="background-imeg">
        <img class="main-pcture" src="imeges/FIFA-Club-World-Cup-Trophy-Tour-Seattle-Sounders-Day-2.webp" alt="World Club Cup">
    </section>

<%- include('./partials/slides.ejs') %>  
<%- include('./partials/footer.ejs') %>   