<%- include('./partials/head+header.ejs') %>
    <section class="template-play">
        <div class="partion-play">
            <div class="card-play">
                <div>
                    <img class="flag-play" src="imeges/flags/USA.png" alt="">
                    <p class="name-countries"> USA </p>
                </div>
                <p id="vs-play"> VS </p>
                <div>
                    <img class="flag-play" src="imeges/flags/IRN.png" alt="">
                    <p class="name-countries"> Iran </p>
                </div>
            </div>
            <div class="content-play">
                <p class="specifications-play"> Sunday, 17 Azar 1401, 17:00  </p>
                <p class="specifications-play tournament-play" > World Cup 2022 - Final </p>
                <p class="specifications-play click-play"> watch now </p>
            </div>
        </div>
    </section>
<%- include('./partials/footer.ejs')%>