<%- include('./partials/head+header.ejs') %>
    <section class="container-tournament">
        <div class="background-slide-tournament">
            <div class="imeg-slide-tournament">
                <ul class="menu-tournament">
                    <li class="style-title-header">  FIFA World Cup 2026™ </li>
                    <li class="style-title-header font-change-one">Get ready for the biggest-ever World Cup</li>
                    <li class="style-title-header">Find news, host country and ticket information on FIFA.com's dedicated FIFA World Cup 26™ page</a></li>
                    <li class="button-slide-tournament">11 June - 19 July 2026</li>
                    <hr id="hr2">
                </ul>
            </div>
            <div class="imeg-slide-tournament">
                <img class="imeges-slides-tournament" src="imeges/FIFA-World-Cup-2026-Host-City-Trophy-Displays-San-Francisco.webp" alt="FIFA Club Clup">
            </div>
        </div>
    </section>
<%- include('./partials/slides.ejs') %>  
<%- include('./partials/footer.ejs')%>