<%- include('./partials/head+header.ejs') %>
    <section class="container-tournament">
        <div class="background-slide-tournament">
            <div class="imeg-slide-tournament">
                <img class="imegesSlides-tournament" src="imeges/FIFA-World-Cup-2026-Host-City-Trophy-Displays-San-Francisco.webp" alt="FIFA Club Clup">
            </div>
        </div>
    </section>
<%- include('./partials/footer.ejs')%>