<%- include('./partials/head+header.ejs') %>
   <section class="template">
        <table class="table-ranking">
            <thead >
                <tr class="thead">
                    <th>
                        Ranking
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        Total Points
                    </th>
                    <th>
                        +/- points
                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr class="rows-ranking">
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </tbody>
        </table>
   </section>
    
<%- include('./partials/footer.ejs')%>