<%- include('./partials/head+header.ejs') %>
<%- include('./partials/background-picture.ejs') %>
   <section class="template">
        <table class="table-ranking">
            <thead >
                <tr class="thead">
                    <th>
                        Ranking
                    </th>
                    <th class="team-thead">
                        Team
                    </th>
                    <th>
                        Total Points
                    </th>
                    <th>
                        +/- points
                    </th>
                </tr>
            </thead>
                        <tbody class="tbody table-ranking1">
                <tr class="rows-ranking">
                    <th>
                        1
                    </th>
                    <th class="team-column">
                        <img class="flag-ranking" src="imeges/flags/ARG.png" alt="flag">
                        <p>Argentina</p>
                    </th>
                    <th>
	                    1885.36
                    </th>
                    <th>
                        -0.8
                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>
                        2
                    </th>
                    <th class="team-column">
                        <img class="flag-ranking" src="imeges/flags/ESP.png" alt="flag">
                        <p>Spain</p> 
                    </th>
                    <th>
                        1867.09
                    </th>
                    <th>
                        +12.45
                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>
                        3
                    </th>
                    <th class="team-column">
                        <img class="flag-ranking" src="imeges/flags/FRA.png" alt="flag">
                        <p>France</p> 
                    </th>
                    <th>
                        1862.03
                    </th>
                    <th>
                        +9.32
                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>
                        4
                    </th>
                    <th class="team-column">
                        <img class="flag-ranking" src="imeges/flags/ENG.png" alt="flag">
                        <p>England</p> 
                    </th>
                    <th>
                        1813.32
                    </th>
                    <th>
                        -5.88
                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>
                        5
                    </th>
                    <th class="team-column">
                        <img class="flag-ranking" src="imeges/flags/BRA.png" alt="flag">
                        <p>Brazil</p> 
                    </th>
                    <th>
                        1777.69	
                    </th>
                    <th>
                        +1.66
                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>
                        6
                    </th>
                    <th class="team-column">
                        <img class="flag-ranking" src="imeges/flags/POR.png" alt="flag">
                        <p>Portugal</p> 
                    </th>
                    <th>
                        1770.53
                    </th>
                    <th>
                        +20.45
                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>
                        7
                    </th>
                    <th class="team-column">
                        <img class="flag-ranking" src="imeges/flags/NED.png" alt="flag">
                        <p>Netherlands</p> 
                    </th>
                    <th>
                        1758.18
                    </th>
                    <th>
                        +5.74
                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>
                        8
                    </th>
                    <th class="team-column">
                        <img class="flag-ranking" src="imeges/flags/BEL.png" alt="flag">
                        <p>Belgium</p> 
                    </th>
                    <th>
                        1736.38
                    </th>
                    <th>
                        +0.63
                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>
                        9
                    </th>
                    <th class="team-column">
                        <img class="flag-ranking" src="imeges/flags/GER.png" alt="flag">
                        <p>Germany</p> 
                    </th>
                    <th>
                        1716.98
                    </th>
                    <th>
                        0
                    </th>
                </tr>
                <tr class="rows-ranking">
                    <th>
                        10
                    </th>
                    <th class="team-column">
                        <img class="flag-ranking" src="imeges/flags/CRO.png" alt="flag">
                        <p>Croatia</p> 
                    </th>
                    <th>
                        1698.66
                    </th>
                    <th>
                        +8.85
                    </th>
                </tr>
            <%- include('./partials/Ranking/fifa-ranking.ejs') %>   
        </table>
        <div class="add-ranking">
            <div class="button-ranking" onclick="rankHander()">more ranking</div>
        </div>
        <div class="add-ranking">
            <div class="button-ranking change" onclick="rankHander()">Fewer cases</div>
        </div>
   </section>
    
<%- include('./partials/footer.ejs')%>