*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* Background Header */
#Header{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 102%;
    height: 12vh;
}

#wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-right: 2%;
    background-image: linear-gradient(to left, red, #045694, #045694) ;
    box-shadow: 5px 5px 10px black;
}

/* The position of the titles of header */
.position-title-header{
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.style-title-header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    cursor: pointer;    
    color: rgb(245, 245, 245);
    text-shadow: 2px 2px 1px black;
    transition: all 0.4s 0.2s ease ;
    position: relative;
}
.style-title-header:hover{
    color: rgb(255, 204, 0);
}

/* onderline style */
.style-title-header::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: rgb(232, 178, 0);
    transition: all 0.4s 0.2s ease ;
}

.style-title-header:hover:after{
    width: 100%;
}

/* Logo and menu */
#left-header{
    display: flex;
}
.fifa-logo-header{
    height: 38px;
}
.menu-button{
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative;
    height: 5vh;
    width: 40px;
    border-radius: 50%;
    background-color: #296fa4;
    border: black 2px 2px;    
    margin: 0 30px;
    cursor: pointer;
}
.upper-part{
    bottom: 8px;
}
.main-part{
    position: absolute;
    min-width: 20px;
    min-height: 4px;
    background-color: aliceblue;
    border-radius: 20px;
    transition: all 0.5s ease;
}
.lower-part{
    top: 8px;
}

/* Movement of shapes */
body.active_menu .upper-part{
    transform: rotate(-45deg);
    bottom: 45%;
}
body.active_menu .main-part-style{
    opacity: 0;
}
body.active_menu .lower-part{
    transform: rotate(45deg);
    top: 45%;
}

/* Menu slide */
.background-menu{
    position: fixed;
    top: 0;
    z-index: 2000;
    left: -410px;
    background-color: #045694;
    min-width: 400px;
    min-height: 100vh;
    overflow: hidden;
    box-shadow: black 3px 0px 2px;
    transition: all 0.5s ease;
}

body.active_menu .background-menu{
    left: 0px;
}

.top-menu{
    display: flex;
    align-items: center;
    height: 12vh;
    margin-bottom: 40px;
}

.menu{
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-left: 40px;
}

#hr{
    opacity: 0.3;
    margin-left: -50px;
}

/* Start body */
body{
    position: relative;
    width: 102%;    
    overflow-x: hidden;
    background-color: #eef2fb;
}

.body-home{
    height: 1700px;
}

.body-tournaments{
    height: 1550px;
}

.body-404{
    height: 110vh;
}

.body-ranking{
    height: 1650px;
}

/* required changes */
body.active_menu{
    overflow: hidden;
    width: 101%;
}

body.active_menu #Header{
    width: 101%;
}

.style-background{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 1;
}
body.active_menu .style-background{
    z-index: 100;
    opacity: 0.7;
}

/* add a background imeg */
.background-imeg{
    width: 100%;
}

.main-pcture{
    width: 100%;
    height: 100vh;
    margin-top: 12vh;
}

/* Create slides  */
.background-slide{
    position: absolute;
    z-index: 1;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.slides{
    height: 430px;
    width: 440px;
    border: solid black 3px;
    box-shadow: black 2px 2px 3px;
    cursor: pointer;
    transition: all 0.7s 0.3s ease;  
}

.slides:hover{
    scale: 1.04;
    box-shadow: black 4px 4px 6px;
}

.imeges-slides{
    height: 75%;
    width: 100%;
}

.text-slides{
    display: flex;
    width: 100%;
    height: 25%;
    padding: 15px;
    font-size: 22px;
    color: black; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background-color: #045694;
    position: absolute;
    bottom: 0;
    z-index: 100;
    box-shadow: black 0px -3px 5px;
}

body.active_menu .footer{
    z-index: 0;
}

.fifa-logo-footer{
    height: 30px;
}

/* Start tournament style */
    .container-tournament{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102%;
        height: 100vh;
        margin-top: 10vh;
    }

    .background-slide-tournament{
        display: flex;
        justify-content: space-between;
        margin-right: 4%;
        background-color: #045694;
        width: 90%;
        height: 80vh;
        border: solid black 3px;
        box-shadow: black 4px 4px 4px;
    }

    .imeg-slide-tournament{
        width: 50%;
        height: 100%;
    }

    .imeges-slides-tournament{
        height: 100%;
        width: 100%;
    }
    /* Create contents and design slide top */
    .menu-tournament{
        display: flex;
        gap: 50px;
        flex-direction: column;
        padding:  80px 20px 0 50px;
    }

    .font-change-one{
        font-size: 36px;
    }

    .button-slide-tournament{
        position: relative;
        z-index: 100;
        margin-top: 70px;
        font-size: large;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: azure;
        border-radius: 30px;
        height: 50px;
        width: 190px;
        border: solid black 1px;
        box-shadow: black 2px 2px 2px;
    }

    .hr2{
        width: 80%;
        display: flex;
        justify-content: center;
    }

        /* Start world rankings style */
        .background-color-rank{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-image: linear-gradient(to left, rgb(107, 0, 0), #00205c, #02112d);
            position: relative;
            height: 100%;
            width: 100%;
            margin-right: 0%;
        }
        .background-color-rank>p{
            position: absolute;
            color: #dde6ff;
            text-shadow: black 4px 4px 2px;
            width: 80%;
            font-size:5rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .background-picture-rank{
            height: 100%;
            width: 100%;
            opacity: 0.2;
        }
        
        /* Create table ranking */
        .template{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 80vh;
            gap: 30px;
            transition: all 0.3s ease;
        }

        .table-ranking{
            width: 80%;
            background-color: black;
            box-shadow: black 3px 3px 4px;
        }

        .thead{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: rgb(30, 0, 139);
            height: 55px;
            color: beige;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .thead th{
            width: 100px;
        }

        .tbody{
            background-color: rgb(255, 255, 255);
        }

        .rows-ranking{
            display: flex;
            justify-content: space-around; 
            align-items: center;   
            width: 100%;
            height: 45px;
            font-size: 17px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: white;
        }
        
        .rows-ranking>th{
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        
        .rows-ranking:nth-child(even){
            background-color: #dde6ff;
        }     

        .rows-ranking>th>p{
            position: absolute;
            left: 80%;
        }   

        .flag-ranking{
            width: 35%;
            height: 90%;
            border: solid black 1px;
            box-shadow: black 2px 2px 3px;
        }

        .team-thead{
            margin: 0 120px 0 -120px;
        }

        .team-column{
        margin: 0 120px 0 -120px;    
        }
        /* button more ranking */
        .add-ranking{
            display: flex;
            justify-content: center;
            align-items: end;
            width: 70%;
            height: 45%;
            position: absolute;
            transition: all 0.3s ease;
        }

        .button-ranking{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            color: whitesmoke;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
            width: 150px;
            height: 50px;
            border-radius: 30px;
            background-color: #296fa4;
            cursor: pointer;
            z-index: 10;
            text-shadow: black 2px 2px 2px;
            box-shadow: black 2px 2px 2px;
            transition: all 0.3s 0.1s ease;
        }

        .button-ranking:hover{
            scale: 1.1;
            color: #ffff2f;
            box-shadow: black 4px 4px 4px;
        }

        .rows-ranking2{
            height: 0;
            opacity: 0;
            transition: all 0.3s ease;
        }

        body.active_rank .rows-ranking2{
            height: 40px;
            opacity: 1;
            transition: all 0.3s ease;
        }

        .change{
            opacity: 0;
            z-index: 1;
            transition: all 0s ease;
            background-color: crimson;
            transition: all 0.3s 0.1s ease;
        }

        body.active_rank .change{
            z-index: 100;
            opacity: 1;
        }

        body.active_rank .add-ranking{
            height: 56%;
        }

        body.active_rank{
            height: 2050px;
        }

        body.active_rank .template{
            height: 135vh;
        }

            /* Start play file */
            .template-play{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                position: relative;
                width: 100%;
                height: 100vh;
            }

            /* Create card play */
            .partion-play{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 300px;
                height: 300px;
                position: absolute;
                border-bottom-right-radius: 20px;
                border-top-left-radius: 20px;
                background-image: linear-gradient(to top, #002261, #02112d);
                box-shadow: black 4px 4px 5px;
                z-index: 50;
                filter: blur(2px);
            }

            .card-play{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 300px;
                height: 60%;
                border-top-left-radius: 20px;
            }


            .flag-play{
                height: 70px;
                width: 70px;
                border-radius: 50%;
                border: solid black 1px;
                box-shadow: 2px 2px 1px;
            }

            .content-play{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                height: 40%;
                width: 100%;
                margin-bottom: 10px;
            }

            .card-play>div{
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                height: 80%;
            }

            #vs-play{
                color: yellow;
                font-size: 30px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-shadow: black 2px 2px 1px;
            }

            .name-countries{
                color: whitesmoke;
                font-size: 25px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-shadow: black 2px 2px 1px;
            }

            .specifications-play{
                color: rgb(255, 72, 72);
                font-size: 20px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-shadow: black 2px 2px 1px;
            }

            .click-play{
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 100;
                border-radius: 40px;
                width: 110px;
                height: 30px;
                font-size: 20px;
                color: #002261;
                text-shadow: black 0px 0px 0px;
                box-shadow: black 2px 2px 1px;
                background-color: whitesmoke;
                margin-top: 10px;
                cursor: pointer;
            }

            .tournament-play{
                color: rgb(81, 81, 255);
            }

            /* positions */
            .position1{
                transform: translate(-50%);
            }

            .position2{
                transform: translate(-50%);
                transition: all 0.5s 0.2s ease;
            }

            .position3{
                transform: translate(-40%);
                scale: 1.2;
                transition: all 0.5s 0.2s ease;
                filter: blur(0px);
            }

            .position4{
                transform: translate(-50%);
            }

            .position5{
                transform: translate(-50%);
            }

            /* change position */
            .position1{
                animation: position1 1s 0.2s both;
            }

            @keyframes position1 {
                0%{
                left: 80%;
                }
                100%{
                left: 120%;
                }
            }

            .position2{
                animation: position2 1s 0.2s both;
            }

            @keyframes position2 {
                0%{
                left: 50%;
                }
                100%{
                left: 80%;
                }
            }

            .position3{
                animation: position3 1s 0.2s both;
            }

            @keyframes position3 {
                0%{
                left: 20%; 
                }
                100%{
                left: 50%;
                }}
            
            .position4{
                animation: position4 0s 0.2s both;
            }

            @keyframes position4 {
                0%{
                left: 120%;
                }
                100%{
                left: -20%;
                }
            }

            .position5{
                animation: position5 1s 0.2s both;
            }

            @keyframes position5 {
                0%{
                left: -20%;
                }
                100%{
                left: 20%;
                }
            }

            /* Start watch on fifa file */
            .position-watch{
                position: absolute;
                left: 50%;
                top: 50%;
            }

                /* Start 404 page */
                .error-description{
                    position: absolute;
                    width: 100%;
                    height: 100vh;
                    font-size: 43px;
                }

                    /* Start login */
                    .background-color-login{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        position: relative;
                        height: 100%;
                        width: 100%;
                        background-color: black;
                        margin-right: 0%;
                    }
                    .background-color-login>img{
                        width: 100%;
                        height: 110vh;
                        opacity: 0.4;
                    }
                    .login-template{
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100vh;
                        z-index: 10;
                    }
                    .form{
                        display: flex;
                        flex-direction: column;
                        margin-top: -80px;
                        align-items: center;
                        height: 55%;
                        font-size: 25px;
                        color: darkkhaki;
                        text-shadow: black -1px -1px 0px;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }

                    .type-content{
                        padding: 4px 10px;
                        margin-top: 10px;
                        width: 250px;
                        height: 60px;
                        border-radius: 20px;
                    }

                    .submit{
                        border-radius: 10px;
                        width: 100px;
                        height: 50px;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-size: 20px;
                        color: antiquewhite;
                        background-color: #013491;
                        padding: 4px;
                    }